body {
    background-color: #909FC0;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
main{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
h1{
    color:#224181;
    font-size:300%;
    font-family: Helvetica;
}
p{
    text-align: center;
    color:#224181;
}
div.socials{
    display:flex;
    justify-content: center;
}

img.socials{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top:10%;
    height: auto;
    width: 50%;
}

@media (max-width: 450px){
    h1{
        font-size: 400%;
    }
    p{
        font-size: 100%;
    }
}

/*
#909FC0 - header and footer
#224181 - text
fake commit
*/
