body {
    background-color: #909FC0;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
main{
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}
h1{
    color:#224181;
}
p{
    color:#224181;
}

/*
#909FC0 - header and footer
#224181 - text
*/
