@font-face {
    font-family: "AdamCG";
    src: url("fonts/adam.cg_pro-webfont.eot");
    src:
        url("fonts/adam.cg_pro-webfont.woff") format("woff"),
        url("fonts/adam.cg_pro-webfont.svg#filename") format("svg");
}



body {
    background-color: #909FC0;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

main {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

h1 {
    color: #224181;
    font-size: 300%;
    font-family: 'AdamCG';
}

p {
    text-align: center;
    color: #224181;
}

div.container {
    display: flex;
    justify-content: center;
}

div.socials {
    display: flex;
    justify-content: center;

}

img.socials {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    width: 50%;
}

div.podcast {
    display: flex;
    justify-content: center;

}

iframe {
    height: 50%;
    width: 40%;
    margin-top: 5%;
}

@media (max-width: 450px) {
    h1 {
        font-size: 400%;
    }

    p {
        font-size: 100%;
    }
}

/*
#909FC0 - header and footer
#224181 - text
fake commit
*/